menu "ESP32-8048S050C Touch Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config TOUCH_PIN_I2C_SCL
        int "Touch I2C SCL Pin"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 20

    config TOUCH_PIN_I2C_SDA
        int "Touch I2C SDA Pin"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 19

    config TOUCH_PIN_RST
        int "Touch Control reset Pin"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 38

    config TOUCH_PIN_INT
        int "Touch Control Interrupt Pin"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 18

    config TOUCH_I2C_PULLUP
        bool "Enable I2C Pullup"
        default n
        help
            not required, external pullups R3 / R4 in place

    choice TOUCH_GT911_ADDRESS
        prompt "I2C Address of GT911"
        default ESP_LCD_TOUCH_IO_I2C_GT911_ADDRESS_BACKUP
        help
            R5 is bound to VCC so GT911 has I2C address 0x14

        config ESP_LCD_TOUCH_IO_I2C_GT911_ADDRESS
            bool "ADDRESS"
        config ESP_LCD_TOUCH_IO_I2C_GT911_ADDRESS_BACKUP
            bool "ADDRESS BACKUP"
    endchoice
endmenu